/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.main{
    background-image: url("../img/texture_main_page.jpg");
    background-repeat: no-repeat;
}

.loading{
  height:30px;
  position:absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align:center;
  color:#8A6D3B;
  width:200px;
  padding:5px;
}

.img600{
    height:600px !important;
    width:auto;
}

.texture_horizontal{
  background-image: url("../img/texture-horizontal.png");
}

.texture_vertical{
  background-image: url("../img/texture-vertical.png");
}

.texture{
  background-image: url("../img/texture.png");
}

.color_box{
    width: 75px;
    height : 55px;
    line-height: 55px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.bleached{
    background-color: #c6c7cc;
}

.sandal{
    background-color: #784323;
}

.coffee{
    background-color: #2e2423;
    color: white;
}

.pear{
    background-color: #301712;
    color: white;
}

.venge{
    background-color: #160c0d;
    color: white;
}

.valnut{
    background-color: #50281e;
    color: white;
}

.black{
    background-color: black;
    color: white;
}

.white{
    background-color: white;
}

.selected_color{
    border-size:3px;
    border-style:solid;
    border-color:navy;
    line-height: 49px;
}

#room{
    width:100%;
    text-align: center;
    padding-top:50px;
    background-color: #ffe8be;
}